.registration-heading{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-family: sans-serif;
}
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.register input{
    width: 40%;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: rgb(191, 212, 230);
    font-size: 1rem;
    
}
.register button{
    width: 25%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(99, 99, 252);
    font-weight: 900;
    color: beige;
    border: none;

}
.register button:hover{
    width: 25%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(47, 47, 195);
    font-weight: 900;
    color: beige;
    border: none;
    transition-duration:0.5s ;
    
}
